$primary-color: rgb(234, 234, 234);
$secondary-color: rgb(33, 43, 53);
$main-color: rgb(9, 106, 197);
$lighter-main-color: rgb(47, 148, 241);
$complementary-color: rgb(214, 12, 5);
$pure-white: rgb(255, 255, 255);
$light-blue-gradient: linear-gradient(70deg, rgba(9, 181, 211, 0.829), rgba(8, 24, 255, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(10, 89, 216, 0.87), rgba(37, 1, 196, 0.767));
$purple-gradient: linear-gradient(45deg, rgba(158, 6, 179, 0.75), rgba(79, 17, 248, 0.75));

$font-size-14px: 0.875rem;
$font-size-15px: 0.9375rem;
$font-size-16px: 1rem;
$font-size-17px: 1.0625rem;
$font-size-18px: 1.125rem;
$font-size-19px: 1.1875rem;
$font-size-20px: 1.25rem;
